.user-grid{
    display: grid;
    justify-items: center;
    grid-row-gap: 28px;
    align-items: center;
    grid-template-columns: auto;
    justify-content: center;
    margin-top: 35px;
    row-gap: 28px;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 40px;
}